*{
	margin: 0;
}

body
{
	background-color:white;
	margin: 0;
}

h1
{
	text-align: center;
	color: #b3ffe6;
}
#head
{
	background-color: #004080;
}
ul
{
	text-align: center;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#004080
}

li
{
	display: inline;
}

li a
{
	display: block;
	color:white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.5em;
	display: inline-block;
	text-align: center;
}
li a:link
{
	color: #b3ffe6;
}
li a:hover
{
	color:#00cccc;
}

p
{
	font-size: 1.3em;
	text-align: justify;
	color: #004080;
	text-shadow: 1px 1px #00cccc;
	margin: 10px;
}

h4
{
	text-decoration: underline;
	font-size: 1.3em;
	text-align: center;
	color: #004080;
	text-shadow: 1px 1px #00cccc;
	margin-top: 25px;
}

img
{
	display: block;
	margin-bottom: 25px;
}
#table
{
	float: right;
	height: 100%;
	width: 900px;
    border: 8px solid #00cccc;
    padding: 25px;
    margin: 25px;
}
#side
{
	height: 500px;;
	width: 150px;
    border: 8px solid #00cccc;
    padding: 25px;
    margin: 25px;
}

table
{
	width: 100%;
}

.fieldWrapper>label {
	width:60px;
	display:inline-block;
	text-align:center;
}

#search {
	position: absolute;
	left: 225px
}